<h2><%= @figure.name %></h2>
<% @figure.titles.each do |title| %>
<ul><%= title.name%></ul>
<% end %>
<% @figure.landmarks.each do |landmark| %>
<ul><a href="/landmarks/<%= landmark.id%>"><%= landmark.name%></a></ul>
<ul><%= landmark.year_completed%></ul>
<% end %>

<a href="/figures/<%=@figure.id%>/edit">edit</a>

<a href='/figures'>Back</a>
